<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>登陆</title>

    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">-->

    <!--<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>-->
    <!--<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>-->
    <!--<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>-->

    <link rel="stylesheet" href="css/style.css">


</head>

<body>


<div class="container">
    <div class="info">
        <h1>天狗商城管理系统</h1><span>管理员<i class="fa fa-heart"></i>登陆</span>
    </div>
</div>
<div class="form" id="app">
    <div class="thumbnail"><img src="css/logo.PNG"/></div>
    <form class="login-form" id="Login" onsubmit="return false" @submit.pervent="login()">
        <input type="text" placeholder="您的用户名" name="studentId" required v-model="data.user_name"/>
        <input type="password" placeholder="密码" name="studentPwd" required v-model="data.password"/>
        <button type="submit">登陆</button>
        <p class="message">还没有账号？<a href="register">注册一个账号</a></p>
    </form>
</div>
<script src='js/jquery.min.js'></script>
<script src="js/index.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script>
    new Vue({
        el: "#app",
        methods: {
            login: function () {
                let formData = new FormData();
                formData.append("user_name",this.data.user_name);
                formData.append("password",this.data.password);
                axios.post("login", formData).then(function (response) {
                    if (response["data"]["status"] == '200') {
                        window.location.href = "goods";
                        return;
                    }
                    alert(response["data"]["msg"]);
                }).catch(function (error) {
                    alert("用户名或密码错误")
                })
            }
        },
        data() {
            return {
                data: {}
            }
        },


    });
    // $("#Login").submit(function () {
    //     $("#blogin").text("登陆中...");
    //     $.ajax({
    //         type: "post",
    //         url: "/onlineStudent/api/Login",
    //         data: $("#Login").serialize(),
    //         success: function (data) {
    //             if (data["status"] == "400") {
    //                 alert(data["msg"]);
    //                 $("#blogin").text("登陆");
    //             }
    //             if (data["status"] == "200") {
    //                 window.location.href = "index"
    //             }
    //         },
    //         error: function () {
    //             alert("出现不可预知的错误")
    //             $("#blogin").text("登陆");
    //
    //         }
    //     });
    // })


</script>


</body>

</html>